* {
    box-sizing: border-box;
    text-align: center;
  }

.homeLoanPromo, .homeLoanCalculate{
width: 50%;
min-height: 600px;
float: left;
padding: 50px;

}

.homeLoanPromo p{
  text-align: justify;
}
