.navbar {
    height: 80px;
    background-color: #4a7023;
    position: relative;
    color: white;
  }
  
  .banklogo {
    height:70px;
    width:350px;
    
  }
  

  .nav-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 12px;
  }
  
  .nav-elements ul li:not(:last-child) {
    margin-right: 60px;
  }
  
  .nav-elements ul a {
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-decoration: none;
  }
  
  .nav-elements ul a.active {
    color: whitesmoke;
    font-weight: 500;
    position: relative;
  }
  
  .nav-elements ul a.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2f234f;
  }

  ul.dropdown {
    display: none;
    
  }

  .nav-elements button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit; 
    font-size: 18px;
    font-weight: 400;
  }




  